.container{ 
    position: relative;
    width: 200px;
    height: 200px;
}

.sphere{
    background-image: url("../img/planet_txt.png");
    background-color: rgba(0, 0, 0, 0.26);
    border-radius: 50%;
    background-repeat: repeat;
    width: 350px;
    height: 350px;
    background-size: 200%;
    animation: pltRotate 150s infinite;
    transform: rotateZ(-25deg);
    box-shadow: inset 60px 2px 60px var(--color-black), 1px 1px 5px var(--color-whiteShade), inset -20px -2px 60px var(--color-black)}

@keyframes pltRotate{
  0% {
    background-position: 0 0;
  }
  100% {
      background-position: 100% 0;
  }
}