.container{ 
    position: relative;
    width: 200px;
    height: 200px;
}

.sphere{
    background: radial-gradient(circle at 80% 10%, #5e5e5e, #000000);
    border-radius: 50%;
    width: 350px;
    height: 350px;
    background-size: 200%;
    animation: pltRotate 50s 0s infinite;
    box-shadow: inset 10px 2px 20px var(--color-black), 1px 1px 5px var(--color-whiteShade);
}

@keyframes pltRotate{
    0%, 100% { 
        background-position: 0% 70%; 
    };
    25% {
        background-position: 30% 70%;
      }
      50% {
        background-position: 50% 70%;
      }
      75% {
        background-position: 70% 70%;
      }
}